<%-include('../../shared/includes/head', {pageTitle:'No Limits Just Freedom '}) %>
<meta name="description" content="RiVVANE Offical site brand concept and vision ">
<link rel="stylesheet" href="/styles/stratergy.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <section id="hero-image">
            <div class="hero-image">
            <h1>No Limits, Just Freedom</h1>
            <p>RiVVane was born from my fear of being trapped. I wanted to create something that wasn't just about clothing, but about feeling good, letting your imagination run free, and stepping out of the norms. For me, traveling is a way to free the mind and experience new things. The way we dress speaks to our surroundings, defines who we are, and with RiVVane, I aim to give everyone the confidence to face the world head-on, unafraid, and always ready for the next adventure.</p>
            <p>Our commitment to quality and craftsmanship reflects a deep respect for refinement and the enjoyment of a fulfilled life. We believe that when you feel confident in what you wear, it leads to mental clarity and a better life for everyone. By extending the life cycle of clothing through our resell and trade options, you can share your story while contributing to a more sustainable world. </p>
             </div>
        </section>
      
    </main>
<%- include('../../shared/includes/footer') %>
