<%-include('../../shared/includes/head', {pageTitle:'Why Fit In'}) %>
<meta name="description" content="Why Fit In is our call to those who dare to be different, embrace their individuality, living life adventurously and without boundaries."> 

<link rel="stylesheet" href="/styles/about.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
            <section class="image-headr">
                <p> <img src= "images/banner.png" alt=""> </p>
            </section>
        

        <section>
                <h2>
                    Who is a RIVVANE customer?
                </h2> 
                 <p>
                    Our customers are resilient, navigating life with integrity and independence. Their vibrant spirit drives them to seek adventure, choosing fashion that verifies their autonomous nature. They demand a novel style that not only inspires exploration but also sets them apart. 
                </p>
        </section>
        <section class="customer-description">
            <div>
            <h2>What does a RIVVANE customer want?</h2>
            <p>
                RiVVane customers seek clothing that aligns with their adventurous spirit and independent lifestyle. They value the longevity and versatility of our products, appreciating the freedom to buy, resell, and trade our product within our platform. Their investment in RiVVane reflects their commitment to responsible, creative, and boundary-pushing choices.
            </p>
        </div>
        <div class="potrait">
            <p><img src="images/photo.png" alt=""></p>
        </div>
        </section>
        <section>
            <h2>What a RIVVANE customer believes?</h2>
            <p>A RiVVane customer believes in living life without boundaries, embracing exploration, and being independent. They value quality and craftsmanship in their clothing, seeing it as a way to express their unique story and confidence. They believe that how they dress speaks to their surroundings and defines who they are. RiVVane customers prioritize sustainability, understanding that longer-lasting clothing contributes to a better life for everyone. They seek freedom, adventure, and the confidence to face the world head-on, unafraid, and ready for new experiences.</p>
        </section>
        <section>
             <div class="btn-alt">
            <a href="/stratergy"><button class="btn"> NO Limits Just Freedom </button></a> 
         </div>
         </section>
       
       
    </main>
<%- include('../../shared/includes/footer') %>
