<%-include('../../shared/includes/head', {pageTitle:'Homepage'}) %>
<link rel="stylesheet" href="/styles/homepage.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <section id="hero-image"> </section>

    <section id="hero-content" >
        <h1>RIVVANE</h1>
        <p>Be part of a lifestyle brand that not only represents your unique story but also leads you on new adventures with versatile products you can buy, resell, and trade within our community.</p>
        <div class="btn-alt">
           <a href="/about"><button class="btn"> Learn More </button></a> 
        </div> 
    </section>   
    </main>
<%- include('../../shared/includes/footer') %>
